@font-face {
    font-family: 'Monsterrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

a {
    font-family: 'Monsterrat';
    background-color: #222;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
    text-decoration: none;
    margin: 0;
}

button {
    font-family: 'Monsterrat';
    width: 80px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    border: 4px solid black;
    position: relative;
    top: -8px;
    font-size: large;
    text-align: center;
}