@font-face {
    font-family: 'Monsterrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0; /* Remove default margin */
    background-color: #222;
    font-family: 'Monsterrat';
}

main {
    padding: 20px;
    color: white;
    font-family: 'Monsterrat';
}

main h1{
    text-align: center; font-size: xx-large;
}

main p{
    text-align: center; font-size: x-large;
}

articleLeft, articleLeft h1, articleLeft p{
    text-align: left; 
    margin-left: 5vw;
    margin-top: 80px;
}

articleLeft p{
    margin-top: 20px;
    font-size: larger; 
}

articleCenter, articleCenter h1, articleCenter p{
    color: white;
    text-align: center;
    margin-top: 80px;
}

articleCenter P{
    margin-top: 20px;
    font-size: larger;
}

articleRight, articleRight h1, articleRight p{
    text-align: right; 
    margin-right: 5vw;
    margin-top: 80px;
}

articleRight p{
    margin-top: 20px;
    font-size: larger; 
}

a {
    font-family: 'Monsterrat';
    background-color: #222;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    width: 120px;
    font-size: x-large;
}

button {
    font-family: 'Monsterrat';
    background-color: #222;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    width: 120px;
    font-size: x-large;
}
  
